*,
*::after,
*::before {
  box-sizing: border-box;
}

.container {
  max-width: 1220px;
  margin: 0 auto;
}

a {
  color: inherit;
  display: inline-block;
  text-decoration: none;
}

li {
  list-style: none;
}

body {
  color: #1b1818;
  font-size: 16px;
  line-height: 19px;
  font-family: "Roboto Condensed", sans-serif;
}

.header {
  background-color: #332208;
  color: #fefefe;
}

.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu__list {
  display: flex;
  gap: 30px;
  font-size: 18px;
  text-transform: uppercase;
  padding: 40px 0;
}

.phone {
  font-size: 18px;
  text-transform: uppercase;
}

.menu__link {
  transition: all 0.6s;
  text-decoration: underline 1px solid transparent;
  text-underline-offset: 5px;
}

.menu__link:hover {
  text-decoration: underline 1px solid white;
  text-underline-offset: 5px;
}

.title {
  font-family: "Fira Sans", sans-serif;
  font-size: 48px;
  font-weight: 500;
  max-width: 450px;
  line-height: 1.3;
  margin-top: 90px;
  margin-bottom: 20px;
}

.top {
  margin-bottom: 100px;
}

.top__text {
  font-size: 20px;
  max-width: 450px;
  text-align: center;
  margin-bottom: 60px;
}

.top__heading {
  padding: 50px 0 30px;
  display: flex;
  justify-content: space-between;
}

.top__content {
  text-align: center;
}

.app__btn {
  padding: 15px 50px;
  background-color: #c5ac2d;
  color: white;
  text-transform: uppercase;
  transition: all 0.7s;
  border: 1px solid transparent;
}

.app__btn:hover {
  background-color: white;
  color: #c5ac2d;
  border: 1px solid #c5ac2d;
}

.top__slider {
  width: 50%;
  text-align: center;
}

.top__bottom {
  display: flex;
  align-items: flex-end;
}

.top__items {
  width: 50%;
  display: flex;
  justify-content: space-around;
}

.top__item {
  text-align: center;
  border: 1px solid #332208;
  padding: 14px 11px;
  height: 150px;
  width: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  cursor: pointer;
  transition: all 0.6s;
  border-radius: 5px;
}

.top__item:hover {
  scale: 1.2;
}

.top__img {
  margin-bottom: 10px;
}

.top__item-text {
  width: 110px;
}

.top__links {
  width: 50%;
  text-align: center;
}

.slick-dots {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  cursor: pointer;
}

.slick-dots button {
  font-size: 0;
  background-color: #1b1818;
  border: none;
  height: 8px;
  width: 8px;
  border-radius: 50%;
  padding: 0;
}

.slick-active button {
  height: 16px;
  width: 16px;
  margin-left: -1px;
}

.top__slider-text {
  font-family: "Fira Sans", sans-serif;
}

.top__link {
  text-decoration: underline;
  text-underline-offset: 5px;
}

.top__slider-text {
  margin-left: 60px;
}

.top__slider-text span + span {
  padding-left: 20px;
}

.top__bottom {
  display: flex;
}

.top__link + .top__link {
  margin-left: 20px;
}

.rent {
  margin-bottom: 200px;
  padding-top: 100px;
}

.rent__inner {
  display: flex;
  justify-content: space-between;
}

.rent__content {
  width: 300px;
}

.rent__title {
  font-family: "Fira Sans";
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 30px;
}

.rent__text + .rent__text {
  margin-top: 20px;
  margin-bottom: 40px;
}

.rent__item {
  border: 1px solid #332208;
  text-align: center;
  padding: 0 30px 10px;
}

.rent__item:nth-child(odd) .rent__item-title {
  margin-bottom: 0px;
  padding-bottom: 55px;
}

.rent__item-number {
  font-family: "Fira Sans";
  font-size: 96px;
  font-weight: 500;
  line-height: 1.3;
  opacity: 0.05;
}

.rent__item-title {
  font-family: "Fira Sans";
  font-size: 18px;
  margin-bottom: 35px;
  width: 175px;
}

.rent__item-text {
  max-width: 175px;
}

.benefits {
  margin: 100px 0;
}

.benefits__list-item + .benefits__list-item {
  margin-top: 30px;
}

.benefits__list {
  width: 300px;
}

.benefits__list-item {
  position: relative;
  padding-right: 26px;
  text-align: right;
}

.benefits__list-item::after {
  content: "";
  position: absolute;
  height: 16px;
  width: 16px;
  right: 0;
  top: 2px;
  background-color: #1b1818;
  border-radius: 50%;
}

.benefits__items {
  display: flex;
  justify-content: space-between;
}

.benefits__list-item:nth-child(1),
.benefits__list-item:nth-child(7) {
  margin-right: 17px;
}
.benefits__list-item:nth-child(2),
.benefits__list-item:nth-child(6) {
  margin-right: 64px;
}
.benefits__list-item:nth-child(3),
.benefits__list-item:nth-child(5) {
  margin-right: 116px;
}

.benefits__list-item:nth-child(4) {
  margin-right: 162px;
}

.benefits__content {
  width: 300px;
  text-align: right;
  line-height: 1.7;
}

.benefits__text {
  margin-bottom: 30px;
}

.video-popup {
  padding: 6px 34px 6px 64px;
  background-color: #c5ac2d;
  color: white;
  text-align: center;
  display: inline-block;
  text-transform: uppercase;
  position: relative;
  /* transition: all 0.7s;
  border: 1px solid transparent; */
}

.video-popup::before {
  content: "";
  background-image: url("/images/play-btn.svg");
  height: 25px;
  width: 25px;
  position: absolute;
  top: 12px;
  left: 34px;
}
